<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:aop="http://www.springframework.org/schema/aop"
xmlns:context="http://www.springframework.org/schema/context" xmlns:tx="http://www.springframework.org/schema/tx"
xsi:schemaLocation="
http://www.springframework.org/schema/beans
http://www.springframework.org/schema/beans/spring-beans.xsd
http://www.springframework.org/schema/aop
http://www.springframework.org/schema/aop/spring-aop.xsd
http://www.springframework.org/schema/context
http://www.springframework.org/schema/context/spring-context.xsd
http://www.springframework.org/schema/tx
http://www.springframework.org/schema/tx/spring-tx.xsd">
 
 	<bean id="teamService" class="com.dev.service.impl.TeamServiceImpl" scope="prototype">
<!-- 		<property name="teamDAO" ref="teamDAO" /> -->
<!-- 		<property name="PlayerDAO" ref="playerDAO" /> -->
	</bean>
 
	<bean id="playerDAO" class="com.dev.dao.PlayerDAO">
		<property name="jdbcTemplate" ref="jdbcTemplate" />
	</bean>
	
	<bean id="teamDAO" class="com.dev.dao.TeamDAO">
		<property name="jdbcTemplate" ref="jdbcTemplate" />
	</bean>
	 
	<bean id="jdbcTemplate" class="org.springframework.jdbc.core.JdbcTemplate">
		<property name="dataSource" ref="pooledDataSource" />
	</bean>

    <bean id="transactionManager" class="org.springframework.jdbc.datasource.DataSourceTransactionManager">
		<property name="dataSource" ref="pooledDataSource" />
	</bean>
	 
	<bean id="dbUtil" class="DbUtil" init-method="initialize">
		<property name="dataSource" ref="pooledDataSource" />
	</bean>

	<bean id="dataSource" class="org.springframework.jdbc.datasource.DriverManagerDataSource">
		<property name="driverClassName" value="com.microsoft.sqlserver.jdbc.SQLServerDriver" />
		<property name="url" value="jdbc:sqlserver://localhost:1444;DatabaseName=bcare_5_4;responseBuffering=adaptive" />
		<property name="username" value="sa" />
		<property name="password" value="bsharp98" />
	</bean>
 
 	<bean id="pooledDataSource" class="org.apache.commons.dbcp2.BasicDataSource">
		<property name="driverClassName" value="com.microsoft.sqlserver.jdbc.SQLServerDriver" />
		<property name="url" value="jdbc:sqlserver://localhost:1444;DatabaseName=bcare_5_4;responseBuffering=adaptive" />
		<property name="username" value="sa" />
		<property name="password" value="bsharp98" />
	</bean>
 	
 	<bean id="txInterceptor" class="org.springframework.transaction.interceptor.TransactionInterceptor">
		<property name="transactionManager">
			<ref bean="transactionManager"/>
		</property>
		
		 <property name="transactionAttributes">
            <props>
                <prop key="*">PROPAGATION_REQUIRED,-Exception</prop>
            </props>
        </property>
	</bean>
 	
 	<bean id="teamServiceProxy" class="org.springframework.aop.framework.ProxyFactoryBean" scope="prototype">
        <property name="proxyInterfaces">
            <value>com.dev.service.TeamService</value>
        </property>
        
        <property name="interceptorNames">
            <list>
        		<value>txInterceptor</value>
        		<value>teamService</value>
			</list>
        </property>
    </bean>
    
    <bean id="teamDAOProxy" class="org.springframework.aop.framework.ProxyFactoryBean" scope="prototype">
        <property name="proxyInterfaces">
            <value>com.dev.dao.TeamDAOInt</value>
        </property>
        
        <property name="interceptorNames">
            <list>
        		<value>txInterceptor</value>
        		<value>teamDAO</value>
			</list>
        </property>
    </bean>
    
    <bean id="playerDAOProxy" class="org.springframework.aop.framework.ProxyFactoryBean" scope="prototype">
        <property name="proxyInterfaces">
            <value>com.dev.dao.PlayerDAOInt</value>
        </property>
        
        <property name="interceptorNames">
            <list>
        		<value>txInterceptor</value>
        		<value>playerDAO</value>
			</list>
        </property>
    </bean>
 	
</beans>